// @mixin flexCenter ($direction){
//     height: 100vh;
//     display: flex;
//     justify-content: space-around;
//     flex-direction: $direction;
//     align-items: center;

// }



header {
    height: 100vh;
    background-color: $backgroundColor;
    // @include flexCenter(column) ;
    background:gray;
    button{
      background-color: $buttonText;
      color: $primaryBtn;
      // &:hover{
      //   background-color: $primaryBtn;
      //   color: $buttonText;
  
      //   transition:0.3s ease-in;
      // }
  
      // &::after{
      //   content: ' World';
      // }
    }
    
  }